.modal {
    width: 60%;
    padding: 8px 20px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 15px;
    margin: auto;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.3);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    align-items: center;
}


/* Mobile Styles */

@media (max-width: 700px) {
    .modal {
        width: 90%
    }
}